---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ site.inc.cover_image }});">

    <section>
        <div class="container">
            <h1>{{ site.inc.title }}</h1>
            {% if site.inc.subtitle %}<h3>{{ site.inc.subtitle }}</h3>{% endif %}

            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook"></i></a>
            {% endif %}
            <!-- <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss"></i>
            </a> -->
        </div>
    </section>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/images/tminus_icon.png" class="img-responsive" alt="Responsive image" id="btnIcon" >
    </div>
    <div class="col-md-4">
      <img src="/images/party_button_icon.png" class="img-responsive" alt="Responsive image" id="btnIcon" >
    </div>
    <div class="col-md-4">
      <img src="/images/the6_icon.png" class="img-responsive" alt="Responsive image" id="btnIcon" >
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Duggan was here and here is how many post we have written {{ paginator.total_posts }}</h3>
    </div>
  </div>
</div>
